.step {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 5px;
}

.mapCard {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px ) {

    #outerMapWrapper {
        height: 400px;
    }

}

@media only screen and (max-width: 1000px ) {

    #outerMapWrapper {
        height: 450px;
    }

}

